<script>
 $(document).ready(function() {
<<<<<<< HEAD
=======

>>>>>>> 0d076bc458cf6f1ca1d17f9d60533b358c88f653
     $('#alignments').dataTable({"bPaginate": false});
 } );
</script>
<h1>Listing alignment Disorders</h1>

<table border=1 id="alignments" style="width: 400px; height: 300px;">
  <thead>
  <tr>
    <th>Sequence</th>
    <th>ID</th>
    <th>Type</th>
    <%- @disorder_types.each do |d| -%>
      <th><%=d%></th>
    <%-end-%>
    <th>Consensus</th>
    <th>Disorder Count</th>
  </tr>
  </thead>
  <tbody>
<% @dis_array.each do |v| %>
  <tr>
    
    <td>

      <%= v[:name] %>
    </td>
    <%- @disorder_types.each do |d| -%>
      <td><%=v[d]%></td>
      <a href="<%= display_disorder_annotated_alignment_alignment_path(v[:align_id])%>"><%= v[:name] %></a>
    </td>
    <td>
      <%= v[:id] %>
    </td>
    <td>
      <%= v[:type] %>
    </td>
    <%- @disorder_types.each do |d| -%>
      <td><a href="<%=disorder_path(v[d+"_id"])%>"><%=v[d]%></a></td>
    <%-end-%>
    <td> 
      <%= v[:consensus_count] %>
    </td>
    <td> 
      <%= v[:disorder_count] %>
    </td>
  </tr>
  
<% end %>
 </tbody>
</table>

<br />
<br />
<%= link_to 'Back', root_path %>
<br /><br />