<p id="notice"><%= notice %></p>
<h3>
<%=@alignment_name%>
</h3>
<script>
 $(document).ready(function() {
     $('#contact').dataTable();
     <%count=0%>
     var plot1 = $.jqplot ('chart', [<%=@contact_consensus_array.map{|dv| count+=1;[count, dv.to_f/@seq_contact_count]}%>],{
        title:'<%=@alignment_name%> Alignment Consensus CICP Prediction',
        axesDefaults: {
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        },
        axes: {
          xaxis: {
            label: "Amino Acid Position",
            pad: 0
          },
          yaxis: {
            label: "CICP"
          }
       }   ,
      highlighter: {
        show: true,
        sizeAdjust: 7.5
      },
      cursor: {
        show: false
      }
      });
 } );
 
</script>
<br>
<br>
<% (0..@ranges).each do |i| %>
  <table>
    <%- @display_array.each do |seq| %>
      <tr>
        <td><%= seq["name"] %></td>
        <%- #seq["alignment"].each do |residue| %>
        <%- ((i*@aa_length)..(i*@aa_length+@aa_length-1)).each do |r|  %>
          <% if seq["alignment"].length > r %>
            <td align = "center" bgcolor = #<%= seq["alignment"][r]%>>&nbsp</td>
          <%-end%>
        <%- end %>
      </tr>
    <%- end %>
    <!--<tr>
     <td>"Contact Consensus"</td>
     <%-  @contact_consensus_array.each do |con| %>
       <td><%=con%></td>
     <%- end %>
    </tr>--!>
  </table>
  <br>
  <br>
  <br>
  <br>
<% end %>
<br>
<div id="chart"></div>
<br>
<br>
Total Number of Sequences in Alignment: <%=@display_array.length-1%>
<br>
Total Number of Sequences with Contacts: <%=@seq_contact_count%>
<br><br>
<table id='contact'>
  <thead>
  <tr>
    <th>Position</th>
    <th>Number of Residues With Contact</th>
    <th>Contact Consensus from Alignment</th>
  </tr>
  </thead>
  <tbody>
  <%-  @contact_consensus_array.length.times do |i| %>
    <tr>
      <td><%= i+1%></td>
      <td><%= @contact_consensus_array[i] %></td>
      <% num =  @contact_consensus_array[i].to_f / @seq_contact_count #@display_array.length.to_f %>
      <td><%= num %></td>
    </tr>  
  <%- end %>
  </tbody>
</table>
<%= link_to 'Back', alignments_path %>
