
<%= stylesheet_link_tag "parcoord", :cache => true %>
<%= javascript_include_tag 'd3.v2.js','d3.parcoord.js','divgrid.js', :cache => true %>

<p id="notice"><%= notice %></p>
<h3>
<%=@alignment_name%>
</h3>
<style>
/* data table styles */
#grid { height: 498px; }
.row, .header { clear: left; font-size: 12px; line-height: 18px; height: 18px; }
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 100px; height: 18px; }
.col-0 { width: 180px; }
</style>

<script>
 $(document).ready(function() {
     $('#disorder').dataTable();
     $('#stats').dataTable();
     $('#consensus_stats').dataTable();
     <%count=0%>
     var plot1 = $.jqplot ('chart', [<%=@contact_consensus_array.map{|dv| count+=1;[count, dv.to_f/@seq_contact_count]}%>],{
        title:'<%=@alignment_name%> Alignment Consensus Disorder Prediction',
        showMarker: false,
        showLine: true,
        axesDefaults: {
          labelRenderer: $.jqplot.CanvasAxisLabelRenderer
        },
        axes: {
          xaxis: {
            label: "Amino Acid Position",
            pad: 0
          },
          yaxis: {
            label: "Disorder"
          }
       }   ,
      highlighter: {
        show: true,
        sizeAdjust: 7.5
      },
      cursor: {
        show: false
      }
      });
      <%count=0%>
      var plot1 = $.jqplot ('inter_chart', [<%=@inter_consensus.map{|dv| count+=1;[count, dv.to_f/@seq_contact_count]}%>],{
         title:'<%=@alignment_name%> Alignment Consensus Inter Prediction',
         showMarker: false,
         showLine: true,
         axesDefaults: {
           labelRenderer: $.jqplot.CanvasAxisLabelRenderer
         },
         axes: {
           xaxis: {
             label: "Amino Acid Position",
             pad: 0
           },
           yaxis: {
             label: "Disorder"
           }
        }   ,
       highlighter: {
         show: true,
         sizeAdjust: 7.5
       },
       cursor: {
         show: false
       }
       });
      <%count=0%>
       var plot3 = $.jqplot ('conservation_chart', [<%=@conservation.map{|c| count+=1;[count, c.to_i]}%>],{
          title:'<%=@alignment_name%> Alignment Conservation',
          showMarker: false,
          showLine: true,
          axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
          },
          axes: {
            xaxis: {
              label: "Amino Acid Position",
              pad: 0
            },
            yaxis: {
              label: "Conservation"
            }
         }   ,
        highlighter: {
          show: true,
          sizeAdjust: 7.5
        },
        cursor: {
          show: false
        }
        });
      <%count=0%>
      var plot2 = $.jqplot ('cicp_chart', [<%=@cicp_array.map{|dv| count+=1;[count, dv.to_f/@cicp_contact_count]}%>],{
          title:'<%=@alignment_name%> Alignment Consensus CICP Prediction',
          showMarker: false,
          showLine: true,
          axesDefaults: {
            labelRenderer: $.jqplot.CanvasAxisLabelRenderer
          },
          axes: {
            xaxis: {
              label: "Amino Acid Position",
              pad: 0
            },
            yaxis: {
              label: "CICP"
            }
         }   ,
        highlighter: {
          show: true,
          sizeAdjust: 7.5
        },
        cursor: {
          show: false
        }
        });
        var blue_to_brown = d3.scale.linear()
          .domain([9, 50])
          .range(["steelblue", "brown"])
          .interpolate(d3.interpolateLab);

        var color = function(d) { return blue_to_brown(d['Conservation']); };

        // load csv file and create the chart
        d3.csv("<%="#{root_url}#{@filename}"%>", function(data) {
          var parcoords = d3.parcoords()("#parcoord")
            .data(data)
            .color(color)
            .alpha(0.4)
            .render()
            .reorderable()
            .brushable();  // enable brushing

          // create data table, row hover highlighting
          var grid = d3.divgrid();
          d3.select("#grid")
            .datum(data.slice(0,3000))
            .call(grid)
            .selectAll(".row")
            .on({
              "mouseover": function(d) { parcoords.highlight([d]) },
              "mouseout": parcoords.unhighlight
            });

          // update data table on brush event
          parcoords.on("brush", function(d) {
            d3.select("#grid")
              .datum(d.slice(0,3000))
              .call(grid)
              .selectAll(".row")
              .on({
                "mouseover": function(d) { parcoords.highlight([d]) },
                "mouseout": parcoords.unhighlight
              });
          });
        }); 
      
 } );
 
</script>


<br>
<br>
<% (0..@ranges).each do |i| %>
  <table>
    <%- @display_array.each do |seq| %>
      <tr>
        <td><%= seq["name"] %></td>
        <%- #seq["alignment"].each do |residue| %>
        <%- ((i*@aa_length)..(i*@aa_length+@aa_length-1)).each do |r|  %>
          <% if seq["alignment"].length > r %>
            <td align = "center" bgcolor = #<%= seq["alignment"][r]%>>&nbsp</td>
          <%-end%>
        <%- end %>
      </tr>
    <%- end %>
    <!--<tr>
     <td>"Contact Consensus"</td>
     <%-  @contact_consensus_array.each do |con| %>
       <td><%=con%></td>
     <%- end %>
    </tr>--!>
  </table>
  <br>
  <br>
  <br>
  <br>
<% end %>
<br>
<div id="parcoord" class="parcoords" style="height:500px;width:900px;"></div>
<br>
<div id="grid" style="height:300px;overflow:auto;"></div
<br><br>
<div id="inter_chart"></div>
<br>
<br>
<div id="chart"></div>
<br>
<br>
<br>
<div id="cicp_chart"></div>
<br>
<br>
<br>
<div id="conservation_chart"></div>
<br><br>
Total Number of Sequences in Alignment: <%=@display_array.length-1%>
<br>
Total Number of Sequences with Disorder: <%=@seq_contact_count%>
<br>
Total Number of Sequences with CICP: <%=@cicp_contact_count%>
<br><br>
<table id='disorder'>
  <thead>
  <tr>
    <th>Position</th>
    <th>Number of Residues Disordered</th>
    <th>Disorder Consensus from Alignment</th>
  </tr>
  </thead>
  <tbody>
  <%-disorder_count = 0 -%>
  <%-  @contact_consensus_array.length.times do |i| %>
    <tr>
      <td><%= i+1%></td>
      <td><%= @contact_consensus_array[i] %></td>
      <% num =  @contact_consensus_array[i].to_f / @seq_contact_count%> 
      <td><%= num %></td>
      <%- if num >= 0.5 %>
        <%- disorder_count = disorder_count + 1 -%>
      <%- end -%>
    </tr>  
  <%- end %>
  </tbody>
</table>  
<br><br>
Disorder percent: <%= disorder_count/@contact_consensus_array.length %> 
<br><br>
<table id='disorder_stats'>
  <thead>
    <th>Disorder</th>
    <th>disorder count</th>
    <th>disorder percentage</th>
    <th>disorders over 50% Conserved</th>
    <th>disorders over 50% Conserved count</th>
    <th>disorders over 50% Conserved percentage</th>
    <th>disorders over 40% Conserved</th>
    <th>disorders over 40% Conserved count</th>
    <th>disorders over 40% Conserved percentage</th>
    <th>disorders over 30% Conserved</th>
    <th>disorders over 30% Conserved count</th>
    <th>disorders over 30% Conserved percentage</th>
  </thead>
  <tbody>
    <tr>
      <td><%=@dis_info.to_range%></td>
      <td><%=@dis_info.count%></td>
      <td><%=@dis_info.count.to_f/@contact_consensus_array.length.to_f%></td>
      <td><%=@dis_info50.to_range%></td> 
      <td><%=@dis_info50.count%></td>
      <td><%=@dis_info50.count.to_f/@contact_consensus_array.length.to_f%></td>
      <td><%=@dis_info40.to_range%></td> 
      <td><%=@dis_info40.count%></td>
      <td><%=@dis_info40.count.to_f/@contact_consensus_array.length.to_f%></td>
      <td><%=@dis_info30.to_range%></td> 
      <td><%=@dis_info30.count%></td>
      <td><%=@dis_info30.count.to_f/@contact_consensus_array.length.to_f%></td>
    </tr>
  </tbody>
</table>
<br><br>
<table id='consensus_stats'>
  <thead>
    <th>CICPs</th>
    <th>CICP count</th>
    <th>CICP percentage</th>
    <th>CICPs over 50% Conserved</th>
    <th>CICPs over 50% Conserved count</th>
    <th>CICPs over 50% Conserved percentage</th>
    <th>CICPs over 40% Conserved</th>
    <th>CICPs over 40% Conserved count</th>
    <th>CICPs over 40% Conserved percentage</th>
    <th>CICPs over 30% Conserved</th>
    <th>CICPs over 30% Conserved count</th>
    <th>CICPs over 30% Conserved percentage</th>
  </thead>
  <tbody>
    <tr>
      <td><%= @cicp_info.to_range%></td>
      <td><%=@cicp_info.count%></td>
      <td><%=@cicp_info.count.to_f/@contact_consensus_array.length.to_f%></td>
      <td><%=@cicp_info50.to_range%></td> 
      <td><%=@cicp_info50.count%></td>
      <td><%=@cicp_info50.count.to_f/@contact_consensus_array.length.to_f%></td>
      <td><%=@cicp_info40.to_range%></td> 
      <td><%=@cicp_info40.count%></td>
      <td><%=@cicp_info40.count.to_f/@contact_consensus_array.length.to_f%></td>
      <td><%=@cicp_info30.to_range%></td> 
      <td><%=@cicp_info30.count%></td>
      <td><%=@cicp_info30.count.to_f/@contact_consensus_array.length.to_f%></td>
    </tr>
  </tbody>
</table>

<br><br>
<table id='stats'>
  <thead>
    <th>Sequence</th>
    <th>CICPs</th>
    <th>CICP count</th>
    <th>CICP percentage</th>
    <th>Disorders</th>
    <th>Disorder count</th>
    <th>Disorder percentage</th>
    <th>Both CICP and Disordered</th>
    <th>Both CICP and Disordered count</th>
    <th>Both CICP and Disordered percentage</th>
    <th>Sequence Length</th>
  </thead>
  <tbody>
    <%@cicp_and_disorder_stats.each do |info_hash|%>
      <tr>
      <td><%=info_hash[:abrev_name]%></td>
      <td><%=info_hash[:cicp_range]%></td>
      <td><%=info_hash[:cicp_counts]%></td>
      <td><%=info_hash[:cicp_percentage]%></td> 
      <td><%=info_hash[:disorder_range]%></td>
      <td><%=info_hash[:disorder_count]%></td>
      <td><%=info_hash[:disorder_percentage]%></td> 
      <td><%=info_hash[:both]%></td>
      <td><%=info_hash[:both_count]%></td>
      <td><%=info_hash[:both_percentage]%></td>
      <td><%=info_hash[:sequence_length]%></td>
      </tr>
    <%end%>
  </tbody>
</table>


<%= link_to 'Back', alignments_path %>
