<script>
 $(document).ready(function() {
     $('#alignments').dataTable();
 } );
</script>
<h1>Listing alignments</h1>

<table border=1 id="alignments" style="width: 400px; height: 300px;">
  <thead>
  <tr>
    <%- @alignments.properties.each do |prop|-%>
      <%-if prop.name.to_s != 'alignment_sequence' && prop.name.to_s != 'seq_id' && prop.name.to_s != 'align_order'  &&  prop.name.to_s != 'fasta_title' %>
      <th>
        <b><%= prop.name%>:</b>
      </th>
      <%- end -%>
    <%- end -%>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @alignments.all(:order=>[:alignment_name], :align_order=>0).each do |alignment| %>
  <tr>
    <%- @alignments.properties.each do |prop|-%>
     <%-if prop.name.to_s != 'alignment_sequence' && prop.name.to_s != 'seq_id' && prop.name.to_s != 'align_order'  &&  prop.name.to_s != 'fasta_title' %>
    <td>
      <%= alignment[prop.name] %>
    </td>
    <%- end -%>
    <%- end -%>
    <td>
      <%= link_to "View Disorder", display_disorder_annotated_alignment_alignment_path(alignment.align_id) %>
    </td>
    <td>
      <%= link_to "Run Disorder", display_disorder_annotated_alignment_alignment_path(alignment.align_id) %>
    </td>
    <td>
      <%= link_to "Calculate Disorder Consensus", calculate_disorder_consensus_threaded_alignment_path(alignment.align_id) %>
    </td>
    <td>
      <%= link_to "View Disorder Report", disorder_brief_report_alignment_path(alignment.align_id) %>
    </td>
    <td>
      <%= link_to "Calculate Contact Consensus", calculate_intraresidue_consensus_threaded_alignment_path(alignment.align_id) %>
    </td>
    <td>
      <%= link_to "View Contact Consensus", display_compensatory_annotated_alignment_alignment_path(alignment.align_id) %>
    </td>
    <td>
      <%= link_to "View CICP Report", compensatory_brief_report_alignment_path(alignment.align_id) %>
    </td>
    <td>
      <%= link_to "Percent Identities", percent_identities_alignment_path(alignment.align_id) %>
    </td>
    <td><%= link_to 'Destroy', alignment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  
<% end %>
 </tbody>
</table>

<br />
<br />
<%= link_to 'New Alignment', new_alignment_path %>
<%= link_to 'Back', root_path %>
<br /><br />